<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(title=~{::title/text()}, content=~{::#content})}">)}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo Web</title>
</head>
<body>
<div id="content" class="flex flex-col items-center min-h-screen">
    <h1 class="text-3xl">Welcome to the Todo Web App!</h1>
    <h2 class="text-1xl">This is the landing page of the app. This page does not require authentication</h2>
    <a class="link link-secondary" th:href="@{/dashboard}">Go to dashboard</a>
</div>
</body>
</html>